*.o
*.obj
*.exe
*.out
*.a
*.so
*.lib
*.dll

*.log
*.tmp
*.swp
*.swo
*.bak
*.~*

/build/
bin/
*.d
*.dep

.vscode/
*.vcxproj*
*.sln
*.user
*.db

.idea/
cmake-build-*/

*.layout
*.depend
*.cbp

*.pbxuser
*.xcworkspace
*.xcuserdata

.DS_Store

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.log
*.session
*.state

